version: '3.8'

services:
  db:
    image: postgres:18-alpine
    container_name: sql_quest_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: master_password_123
      POSTGRES_DB: sql_quest
    ports:
      - '5435:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
